.container {
  width: min(900px, 92%);
  margin: 40px auto;
  background: white;
  padding: 18px;
  margin-bottom: 14px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

a {
  display: inline-block;
  margin-bottom: 24px;
}
